body {
  margin: 0;

  padding: 0;
}

#chat-container-__QNSAFE__ {
  width: 100%;
  height: 100vh;
  max-height: 400px;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
}

#chat-history-__QNSAFE__ {
  height: calc(100% - 56px);
  overflow-y: auto;
  padding: 10px;
}

.message {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.user-message {
  margin-left: auto;
  max-width: 70%;
  padding: 0.5rem 0.875rem;
  border-radius: 12px 12px 0 12px;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  position: relative;
  width: fit-content;
  font-family: Helvetica, Arial, sans-serif;
  background-color: #007AFF;
  color: white;
}

.bot-message {
  max-width: 70%;
  padding: 0.5rem 0.875rem;
  border-radius: 12px 12px 12px 0;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  position: relative;
  width: fit-content;
  font-family: Helvetica, Arial, sans-serif;
  background-color: #F2F2F2;
  color: #333;
}

#chat-input-__QNSAFE__ {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #F9F9F9;
  width: 100%;
  box-sizing: border-box;
}

#message-input-__QNSAFE__ {
  flex: 1;
  margin-right: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: calc(100% - 80px);
  box-sizing: border-box;
}

#send-button-__QNSAFE__ {
  background-color: #007AFF;
  border: none;
  color: white;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#send-button-__QNSAFE__:hover {
  background-color: #0066CC;
}
